# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
venv/
.venv/
env/

# =========================
# Flask
# =========================

instance/
.webassets-cache/

# =========================
# IDE / Editores
# =========================

.vscode/
.idea/

# =========================
# Sistema operacional
# =========================

.DS_Store
Thumbs.db

# =========================
# Variáveis de ambiente
# =========================

.env
.env.*

# =========================
# Logs
# =========================

*.log

# =========================
# Docker
# =========================

docker-compose.override.yml